.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: contain;
  border: none;
  box-shadow: none;
  background: none;
  display: block;
  margin: 0 auto;
  padding: 10px;
}